.card{
    border: 2px solid black;
    border-radius: 5px;
    width: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5DFD19;
    font-family: "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    
}

.card img{
    width: 180px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid black;
}

.card h4{
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: 500;
}
.containerStatus{
    background-color: #5DFD19;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -94px;
    margin-bottom: 60px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
}
.containerStatus p{
    font-weight: 500;
}
.parrafo{
    margin-top: 0;
    font-size: 13px;
}